<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- Start of Logging Appenders -->
	<appender name="console.appender.detailed" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%C{1}.%t]: %m%n"/>
		</layout>
	</appender>
	<!-- End of Logging Appenders -->
		
	  <!-- Third party Logger-->
    <logger name="org" additivity="false">    
        <level value="error" />
        <appender-ref ref="console.appender.detailed"/> 
    </logger>    
    <logger name="net" additivity="false">    
        <level value="error" />
       <appender-ref ref="console.appender.detailed"/> 
    </logger>
    <logger name="com" additivity="false">    
        <level value="error" />
        <appender-ref ref="console.appender.detailed"/> 
    </logger>
		
	<!--  Framework Loggers-->
    <logger name="org.saibaba.fw" additivity="false">
        <level value="debug" />
        <appender-ref ref="console.appender.detailed"/> 
    </logger> 
    <!--  Common Loggers-->  
    <logger name="org.saibaba.common" additivity="false">
        <level value="debug" />
        <appender-ref ref="console.appender.detailed"/> 
    </logger>
	
	<root>
	    <level value="error" />
		<appender-ref ref="console.appender.detailed"/>       
	</root>
</log4j:configuration>